<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="resources/css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Pagina de inicio</h1>
    <% if (login) { %>
    <h1>El usuario conectado es: <strong><%= name %></strong></h1>
    <a href="logout" class="a-logout">Cerrar Sesión</a>
    <%} else {%>
    <h1><strong><%= name %></strong></h1>
    <a href="login" class="a-login">Ir al inicio de Sesión</a>
    <% } %>
  </body>
</html>
